* {
  scroll-behavior: smooth !important;
}

.MainContainer {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #333333;
}

.ParallaxContainer1 {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  transition: transform 10ms linear;
  -webkit-transform: translateZ(-1px) scale(2);
  -webkit-transition: transform 10ms linear;
  -o-transform: translateZ(-1px) scale(2);
  -o-transition: transform 10ms linear;
  -ms-transform: translateZ(-1px) scale(2);
  -ms-transition: transform 10ms linear;
  -moz-transform: translateZ(-1px) scale(2);
  -moz-transition: transform 10ms linear;
  background-image: url("../img/mulligans4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.ParallaxContainer2 {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -2;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  transition: transform 10ms linear;
  -webkit-transform: translateZ(-1px) scale(2);
  -webkit-transition: transform 10ms linear;
  -o-transform: translateZ(-1px) scale(2);
  -o-transition: transform 10ms linear;
  -ms-transform: translateZ(-1px) scale(2);
  -ms-transition: transform 10ms linear;
  -moz-transform: translateZ(-1px) scale(2);
  -moz-transition: transform 10ms linear;
  background-image: url("../img/jeff.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.ParallaxContainer3 {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -2;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  transition: transform 10ms linear;
  -webkit-transform: translateZ(-1px) scale(2);
  -webkit-transition: transform 10ms linear;
  -o-transform: translateZ(-1px) scale(2);
  -o-transition: transform 10ms linear;
  -ms-transform: translateZ(-1px) scale(2);
  -ms-transition: transform 10ms linear;
  -moz-transform: translateZ(-1px) scale(2);
  -moz-transition: transform 10ms linear;
  background-image: url("../img/rock.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.ContentContainer1, .ContentContainer2, .ContentContainer3 {
  display: block;
  position: relative;
  z-index: 1;
  background-color: #333333;
  box-shadow: 12px 22px 25px black;
}

#title1, #title2, #title3 {
  font-size: 90px;
  color: #FFFFFF;
  text-shadow: 3px 3px 5px rgba(35, 35, 35, 1.0);
}

#title2, #title3 {
  margin-top: 1.2em;
}

#subtitle {
  font-size: 27px;
  color: #FFFFFF;
  text-shadow: 3px 3px 5px rgba(35, 35, 35, 1.0);
  text-align: center;
  margin-top: 0.5em;
}

.wrapper {
  text-align: center;
  margin-top: 3.5em;
}

#title-button {
  box-shadow: 3px 3px 2px rgba(35, 35, 35, 1.0);
  font-size: 25px;
}

#title-button:active {
  color: #000000;
}

nav {
  box-shadow: 7px 10px 25px black;
}

.navbar-brand {
  margin-right: 3em;
  margin-left: 2em;
}

.nav-item {
  padding: 5px;
}

.nav-link {
  margin: 0 5px;
}

.Content {
  color: #FFFFFF;
}

.dropdown-menu {
  background-color: #343A40;
}

.dropdown-item {
  color: #FFFFFF;
}

.dropdown-item:hover {
  background-color: #70503E;
  color: #FFFFFF;
}

/* Bounce To Right */
.hvr-bounce-to-right1, .hvr-bounce-to-right2, .hvr-bounce-to-right3 {
  -webkit-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-to-right1:before, .hvr-bounce-to-right2:before, .hvr-bounce-to-right3:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-right1:before {
  background: #70503E;
}

.hvr-bounce-to-right2:before {
  background: #55A860;
}

.hvr-bounce-to-right3:before {
  background: #2E6FBA;
}

.hvr-bounce-to-right1:hover, .hvr-bounce-to-right1:focus, .hvr-bounce-to-right1:active, .hvr-bounce-to-right2:hover, .hvr-bounce-to-right2:focus, .hvr-bounce-to-right2:active, .hvr-bounce-to-right3:hover, .hvr-bounce-to-right3:focus, .hvr-bounce-to-right3:active {
  color: white;
}

.hvr-bounce-to-right1:hover:before, .hvr-bounce-to-right1:focus:before, .hvr-bounce-to-right1:active:before, .hvr-bounce-to-right2:hover:before, .hvr-bounce-to-right2:focus:before, .hvr-bounce-to-right2:active:before, .hvr-bounce-to-right3:hover:before, .hvr-bounce-to-right3:focus:before, .hvr-bounce-to-right3:active:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -ms-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #70503E;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}

.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
  -ms-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    -ms-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    -ms-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    -ms-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    -ms-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

div hr {
  border: 1.5px solid #FFFFFF;
}

.blink_me1 {
  animation: blinker 1s linear infinite;
  margin-left: 25em;
  margin-top: 60px;
}

.blink_me2 {
  animation: blinker 1s linear infinite;
  margin-left: 22em;
  margin-top: 60px;
}

@keyframes blinker {
  50% { opacity: 0; }
}
